body {
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  color: #eee;
  background-color: rgb(61, 61, 61);
  margin: 0; padding: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 15vh;
  border-bottom: 1px solid black;
  background-color: rgb(51, 51, 51);
}

#logo {
  height: 100%;
  flex: initial;
}

#language-section {
  height: 100%;
  flex: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#language-text {
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  font-weight: lighter;
  font-size: 30px;
  margin: 5vw;
  width: 30vw;
  flex: initial;
}

#english {
  height: 100%;
  flex: initial;
}

#track-and-car-type {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(90, 90, 90);
  padding: 10px;
  box-sizing: border-box;
}

.dropdown {
  flex: 4 1;
  margin-left: 12px;
  margin-right: 12px;
}

select {
  font-size: 16px;
  width: 100%
}

button {
  flex: 1 1 auto;
  font-size: 20px;
}

.car-type-image {
  width: 100%;
}

th {
  border: 1px solid white;
  border-radius: 10px;
  width: 25vw;
}

td {
  border: 2px solid grey;
  border-radius: 1px;
  width: 40vw;
  text-align: center;
  height: 40px;
}

input {
  font-size: 16px;
  text-align: center;
  width: 40px;
  color: #eee;
  background-color: grey;
}